:root {
  font-family: noto-sans;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.questionTxt {
  width: 100%;
  font-size: 1.8em;
  font-family: noto-sans;
  font-weight: bold;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  margin: 5px;
}
.answerbox {
  display: flex;
  align-items: center;
  position: fixed;  /* 画面に対して固定 */
  bottom: 0;        /* 下端に配置 */
  left: 0;          /* 左端に寄せる */
  width: 100%;      /* 横幅いっぱい */
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 80px 0 0 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 1.8em;
  margin: 5px;
}
h3 {
  margin: 10px 0px 5px 0px;
}
    header {
      position: fixed;
      width:100%;
      top:0;
      left:0;
      background: #007dc8;
      color: #ffffff;
      padding: 16px;
      font-size: 1.4rem;
      font-weight: bold;
      z-index: 9999;
    }

    .wronglist {
      width: 100%;
      min-width: 700px;
      display: grid;
      grid-template-columns: 1fr 4fr 2.5fr 2.5fr;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 1.1rem;
    }
    .griditem {
      padding: 8px;
      border-bottom: 1px solid #ccc;

    }
    .gridwrapper {
      overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.expander {
  text-align: left;
  margin: 0 auto;
}
.box {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  padding: 0px 10px 0px 10px;
  transition: max-height 0.25s ease, opacity 0.25s ease, padding 0.25s ease;
}

.box.show {
  max-height: 50px;   /*十分大きければOK*/
  opacity: 1;
  padding: 0px 10px 10px 10px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 1em;
  background-color: #b8d7ed;
  border-radius: 1em;
  box-shadow: 0 0 2em #00000022;
  text-align: left;

}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
